body{
    background-color: #ffffff;
}

.headerC h1{
    text-align: center;
    text-decoration: none;
}

.box-3{
    border: 1px solid grey;
    margin: 10px 0;
    padding: 10px; 
    border-radius: 10px;
}

.container2{
    width: 80%;
    margin: auto;
}

.box-3 table{
    text-align: center;
}

.box-3 td{
    padding-bottom: 8px;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-top: solid 1px;
}

.my-form{
    padding: 20px;
}

.form-group{
    padding-bottom: 5px;
}

.form-group label{
    display: block;

}
#contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }

  @media only screen and (max-width: 960px) {
    body {
        background-color: l#ffffff;
    }
}
    @media only screen and (max-width: 768px) {
        body {
            background-color: lightblue;
        }
    }
        @media only screen and (max-height: 640px) {
            body {
                background-color: lightcoral;
            }
        }